body {
    height: 100%;
background: linear-gradient(142deg, #281b25, #351b2f, #351b2f, #351b2f, #5e194e, #5e194e, #5e194e, #281b25, #281b25, #281b25, #5e194e, #5e194e, #281b25, #281b25, #281b25);
background-size: 3000% 3000%;

-webkit-animation: AnimationName 59s ease infinite;
-moz-animation: AnimationName 59s ease infinite;
animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
0%{background-position:0% 4%}
50%{background-position:100% 97%}
100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 4%}
50%{background-position:100% 97%}
100%{background-position:0% 4%}
}
@keyframes AnimationName {
0%{background-position:0% 4%}
50%{background-position:100% 97%}
100%{background-position:0% 4%}
}

.card {
  border: solid;
  border-width: 3px;
  border-color: #281b25;
  background: #efefef;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
              -3px -3px 5px rgba(0, 0, 0, 0.2);
}


.card:hover {
  border: solid;
  border-width: 3px;
  border-color: #fff;
  background: #efefef;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
              -6px -6px 10px rgba(0, 0, 0, 0.2);
}


#directions {
  margin: 15px;
  margin-top: 0px;
  border: solid;
  border-width: 2px;
  border-color:#5fa09a;
}

.accent-line {
    width: 50%;
    min-width: 100px;
    max-width: 250px;
    height: 3px;
    background-color: #fff;
    margin: 15px 0;
}

#box{
  min-height: 50px;
}

header {
  position: relative;
  height: 6px;
  max-height: 900px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-image: url("../media/fallback.jpg");
  background-position: left;
  background-color: #1f271b;
  border: none;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
  object-position: right center;
}


#test {
  position: relative;
  z-index: 2;
  width: auto;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.0;
  z-index: 1;
}

/* Media Query for devices with coarse pointers and no hover functionality */
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../assets/images/background.jpg') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

#banner {
  height: 200px;
  border-top: solid 2px #5fa09a;
  border-bottom: solid 2px #5fa09a;
}

#contact {
  border: solid 2px #5fa09a;
}

#footer {
  border-top: solid 2px #5fa09a;
}
